@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
/*
Vars: 
Defined in :root
property: var(--varName);
*/
:root{
    --background: #202020;
    --primary: #005B41;
    --secondary: #232D3F;
    --no-style-links: #F39F5A;
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
.navbar {
    display: flex;
    background-color: var(--primary);
    justify-content:space-around;
    align-items: center;
}

.element {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background: none;
    padding-inline: 10px;
}

.removestyle {
    text-decoration: inherit;
    color: var(--no-style-links);
}

.element:not(.current) {
    transition: color 1s ease 0s;
}

.removestyle:not(.current):hover{
    color: #2baaca;
}

.current {
    color: var(--secondary);
}

.fact{
    text-align: center;
}

.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    flex-wrap:wrap-reverse;
    padding: 10px;
}

.haspicture {
    justify-content: center;
    flex-direction:row;
}

.picture {
    margin-left: 50px;
}